@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 220px 16px 220px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  font-weight: bold;
  gap: 4px;
}
.logo .text-orange {
  color: #f17228;
}
.logo .text-yellow {
  color: #ffb30e;
}

.delivery {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.delivery .bold {
  font-weight: 700;
}

.right-nav {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.right-nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-weight: 700;
}
.right-nav .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #FF8A00;
  -webkit-box-shadow: 0 0 5px rgba(255, 193, 7, 0.3333333333);
          box-shadow: 0 0 5px rgba(255, 193, 7, 0.3333333333);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#ffc107), to(#ffca28));
  background: linear-gradient(to right, #ffc107, #ffca28);
}

.hero-content {
  white-space: nowrap;
  margin: 0px 0px 132px 220px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 550px;
  padding-top: 132px;
}
.hero-content h1 {
  font-size: 88px;
  margin-bottom: 10px;
  color: #fff;
}
.hero-content h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #504F4F;
}

.order-container {
  min-width: 856px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 856px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.order-container .order-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}
.order-container .order-mode .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 0;
  border: none;
  background: none;
  font-weight: 600;
  color: #666;
  border-bottom: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.order-container .order-mode .tab.active {
  color: #ff7e42;
  border-color: #ff7e42;
}
.order-container .input__text {
  max-width: 593px;
  max-height: 49px;
}
.order-container .order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.order-container .order-form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px 16px;
  border: none;
  background: #f5f5f5;
  border-radius: 10px 0 0 10px;
  font-size: 14px;
  outline: none;
  max-height: 49px;
}
.order-container .order-form button.find-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  min-height: 50px;
  border: none;
  padding: 0 20px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-weight: 600;
  background: #ff7e42;
  color: #fff;
  margin-left: 10px;
}
.order-container .order-form button.find-btn:hover {
  background: #ff6d29;
}

.hero-image {
  max-width: 497px;
  position: relative;
  top: 130px;
  right: 200.51px;
}

.discount {
  position: relative;
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0px 0px 220px;
  background-color: #fff;
  padding-bottom: 80px;
}

.discount__block {
  padding: 0px 16px 0px 0px;
  border: none;
  background-color: #fff;
}

.discount__block img {
  cursor: pointer;
  border-radius: 25px;
}

.discount__icon img {
  border-radius: 0px 0px 0px 24px;
}

.discount__card {
  max-height: 301px;
}

.discount__icon {
  position: relative;
  bottom: 85px;
  left: -108.2px;
}

.discount p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  line-height: 120%;
}

.title {
  padding: 32px 0px 14px 0px;
  color: #424242;
}

.color {
  max-width: 173px;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  background: rgba(241, 114, 40, 0.2);
  color: #F17228;
}

.block__how-does {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 206, 103, 0.1)), to(rgba(253, 237, 202, 0)));
  background: linear-gradient(to bottom, rgba(255, 206, 103, 0.1), rgba(253, 237, 202, 0));
}

.how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 300px;
  gap: 32px;
}

.how__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 43px;
  font-weight: 700;
  line-height: 112%;
  padding: 80px 0px 71px 0px;
  color: #F17228;
}

.how__card {
  gap: 41px;
  text-align: center;
  padding-bottom: 80px;
}
.how__card h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: #434343;
}
.how__card p {
  font-size: 18px;
  line-height: 140%;
  color: #9e9e9e;
}

.popular__title {
  font-size: 43px;
  font-weight: 700;
  line-height: 112%;
  text-align: center;
  color: #212121;
  padding-bottom: 88px;
}

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular__card {
  max-width: 1481px;
}

.title__food h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #424242;
}
.title__food span {
  font-size: 22px;
  line-height: 120%;
  color: #ffb30e;
  gap: 8px;
}
.title__food button {
  font-size: 18px;
  font-weight: 700;
  border: 0;
  min-width: 283px;
  border-radius: 8px;
  gap: 10px;
  padding: 21px 48px;
  color: #fff;
  background: #f17228;
  cursor: pointer;
}

.arrow {
  background: #fff;
  max-height: 76px;
  margin-top: 70px;
  padding: 10px;
  border: 0;
  cursor: pointer;
}