body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  gap: 4px;

  .text-orange {
    color: #f17228;
  }
  .text-yellow {
    color: #ffb30e;
  }
}

.delivery {
  display: flex;
  align-items: center;
  gap: 6px;

  .bold {
    font-weight: 700;
  }
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 16px;

  .search {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .login {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 14px;
    background: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px #ffc10755;
    cursor: pointer;
    font-weight: bold;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background: linear-gradient(to right, #ffc107, #ffca28);
  
}

.hero-content {
  margin: 132px 0px 132px 220px;
  flex: 1;
  max-width: 550px;

  h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #fff;
  }

  h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #504F4F;
  }
}

.order-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 856px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .order-mode {
    display: flex;
    margin-bottom: 12px;

    .tab {
      flex: 1;
      padding: 10px 0;
      border: none;
      background: none;
      font-weight: 600;
      color: #666;
      border-bottom: 2px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      cursor: pointer;

      &.active {
        color: #ff7e42;
        border-color: #ff7e42;
      }
    }
  }

  .order-form {
    display: flex;
    align-items: center;

    input {
      flex: 1;
      padding: 12px 16px;
      border: none;
      background: #f5f5f5;
      border-radius: 10px 0 0 10px;
      font-size: 14px;
      outline: none;
      max-height:49px;
    }

    button.find-btn {
    
      display: flex;
      align-items: center;
      gap: 6px;
      min-height:60px;
      border: none;
      padding: 0 20px;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      font-weight: 600;
      background: #ff7e42;
      color: #fff;

      &:hover {
        background: darken(#ff7e42, 5%);
      }
    }
  }
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: start;
  margin-left: 109px;
  margin-right: 218px;
 
}

