body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f5f5;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 220px 16px 220px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  gap: 4px;
}
.logo .text-orange {
  color: #f17228;
}
.logo .text-yellow {
  color: #ffb30e;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.delivery .bold {
  font-weight: 700;
}

.right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.right-nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.right-nav .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background: #fff;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px rgba(255, 193, 7, 0.3333333333);
          box-shadow: 0 0 5px rgba(255, 193, 7, 0.3333333333);
  cursor: pointer;
  font-weight: bold;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#ffc107), to(#ffca28));
  background: linear-gradient(to right, #ffc107, #ffca28);
}

.hero-content {
  white-space: nowrap;
  margin: 0px 0px 132px 220px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 550px;
}
.hero-content h1 {
  font-size: 88px;
  margin-bottom: 10px;
  color: #fff;
}
.hero-content h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #504F4F;
}

.order-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 856px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.order-container .order-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}
.order-container .order-mode .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 0;
  border: none;
  background: none;
  font-weight: 600;
  color: #666;
  border-bottom: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.order-container .order-mode .tab.active {
  color: #ff7e42;
  border-color: #ff7e42;
}
.order-container .order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order-container .order-form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px 16px;
  border: none;
  background: #f5f5f5;
  border-radius: 10px 0 0 10px;
  font-size: 14px;
  outline: none;
  max-height: 49px;
}
.order-container .order-form button.find-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  min-height: 60px;
  border: none;
  padding: 0 20px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-weight: 600;
  background: #ff7e42;
  color: #fff;
  margin-left: 10px;
  border-radius: 5px;
}
.order-container .order-form button.find-btn:hover {
  background: #ff6d29;
}

.hero-image {
  position: relative;
  top: 70px;
  right: 220px;
}

.discount {
  position: relative;
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0px 0px 220px;
  background-color: #fff;
}

.discount__block {
  padding: 16px;
}

.discount__card {
  width: 357px;
}

.discount__block img {
  border-radius: 25px;
}

.discount__icon img {
  border-radius: 0px;
}

.discount__icon {
  position: relative;
  bottom: 85px;
  left: 0;
}